bin/summa_actors
build/cmake/build
build/summa
build/.vscode
.vscode/settings.json
.DS_Store
laugh_tests
bin/summa_kinsol
bin/summa_be
build/source/testing/containers/output_container/out.txt
bin/config.json
bin/summa_sundials
build/build_scripts/cmake_build
.vscode
bin/
utils/dependencies/1.0.0.tar.gz
utils/dependencies/caf
utils/dependencies/actor-framework-1.0.0